<table class="table table-hover w-100 text-center mt-3">
    <thead>
        <tr>
            <th scope="row">#</th>
            <td colspan="2">Nombre</td>
            <td>Correo</td>
            <td>Fecha de creacion</td>
            <td>Opciones</td>
        </tr>
    </thead>
    <tbody>
        @for (client of this.clients; track client.id) {
            <tr>
               <td>{{ client.id }}</td>
               <td colspan="2">{{ client.name }}</td>
               <td>{{ client.email }}</td>
               <td>{{ client.created_at }}</td>
               <td>
                    <a routerLink="/client-detail/{{ client.id }}" routerLinkActive="active" class="btn btn-warning"><i class="lni lni-book"></i></a> -
                    <a routerLink="/client-update-form/{{ client.id }}" routerLinkActive="active" class="btn btn-info"><i class="lni lni-spinner-arrow"></i></a> - 
                    <a (click)="this.deletedClient(client.id)" routerLinkActive="active" class="btn btn-danger"><i class="lni lni-trash-can"></i></a>
               </td>
            </tr>
        }
    </tbody>
</table>
