<table class="table table-hover w-100 text-center mt-3">
    <thead>
      <tr>
          <th scope="row">#</th>
          <td colspan="2">Nombre</td>
          <td>Apellidos</td>
          <td>Correo</td>
          <td>Rol</td>
          <td>Foto</td>
          <td>Fecha de Creacion</td>
          <td>Opciones</td>
      </tr>
    </thead>
    <tbody>
      @for(user of this.users; track user.id){
        @if(user){
          <tr>
            <th scope="row">{{ user.id }}</th>
            <td colspan="2">{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
              @if(user.roles && user.roles.length > 0){
                  @for(role of user.roles; track role.id){
                    <td>{{ role.name }}</td>
                  }
              }@else {
                  <td>
                    <p class="bg-danger p-2 text-light">Sin Asignar</p>
                  </td>
                }
            @if(!user.photo){
              <td>
                <img alt="usuario" width="50px" height="50px" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </td>
            }
            <td>{{ user.created_at }}</td>
            <td>
              <a routerLink="/user-detail/{{ user.id }}" routerLinkActive="active" class="btn btn-warning"><i class="lni lni-book"></i></a> -
              <a routerLink="/update-user/{{ user.id }}" routerLinkActive="active" class="btn btn-info"><i class="lni lni-spinner-arrow"></i></a> -
              <a (click)="this.deleteUser(user.id)" routerLinkActive="active" class="btn btn-danger"><i class="lni lni-trash-can"></i></a>
            </td>
          </tr>
     }@else {
        <p class="h3">{{ this.message }}</p>
     }
  }
    </tbody>
</table>