<div class="container-fluid">
    <div class="row nowrap">
        <div class="bg-dark col-auto col-md-4 col-lg-2 min-vh-100 d-flex flex-column justify-content-between">
            <app-sidebar/>
        </div>
        <div class="col px-4 mt-5">
            <h1>Contenido Principal</h1>
            <p>Este es el espacio para el contenido principal.</p>
            <div class="text-center">
                <app-clock/>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <div class="p-2">
                    <a routerLink="/sales" routerLinkActive="active" class="text-decoration-none">
                        <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
                            <div class="card-header">Ventas</div>
                            <div class="card-body">
                              <h4 class="card-title">Success card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                          </div>
                    </a>
                </div>
                <div class="p-2">
                    <a routerLink="/categories" routerLinkActive="active" class="text-decoration-none">
                        <div class="card text-white bg-danger mb-3" style="max-width: 20rem;">
                            <div class="card-header">Categorias</div>
                            <div class="card-body">
                              <h4 class="card-title">{{ this.total }}</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="p-2">
                    <a routerLink="/clients" routerLinkActive="active" class="text-decoration-none">
                        <div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
                            <div class="card-header">Clientes</div>
                            <div class="card-body">
                              <h4 class="card-title">Warning card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="p-2">
                    <a routerLink="/products" routerLinkActive="active" class="text-decoration-none">
                        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                            <div class="card-header">Productos</div>
                            <div class="card-body">
                              <h4 class="card-title">Info card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <canvas class="mt-4" width="100%" height="30px" #canvas></canvas>
         
        </div>      
    </div>
</div>



