
    <div class="container w-50">
        <div class="card card-body">
            <h2 class="text-center">{{ this.title }}</h2>
            <hr>
            <form>
                <div class="form-group">
                    <label for="email" class="form-label"><pre><i class="lni lni-user"></i> Correo Electronico</pre></label>
                    <input type="text" class="form-control" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <label for="contraseña" class="form-label"><br>
                        <pre><i class="lni lni-key"></i> contraseña</pre></label>
                    <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                    <input type="submit" class="btn btn-primary mt-3" value="Iniciar Sesión">
            </form>
        </div>
    </div>



