
    <div class="container w-50">
        <div class="card card-body">
            <h2 class="text-center">{{ this.title }}</h2>
            <hr>
            <form #formLogin="ngForm" (ngSubmit)="this.onSubmit(this.formLogin)">
                <div class="form-group">
                    <label for="email" class="form-label"><pre><i class="lni lni-user"></i> Correo Electronico</pre></label>
                    <input type="text" name="email" #email="ngModel" [(ngModel)]="this.user.email" class="form-control" placeholder="Correo electronico" required>
                    @if(!this.email.valid && this.email.touched){
                        <small class="text-danger">El correo es obligatorio</small>
                    }
                </div>
                <div class="form-group">
                    <label for="contraseña" class="form-label"><br>
                        <pre><i class="lni lni-key"></i> contraseña</pre></label>
                    <input type="password" name="password" #password="ngModel" [(ngModel)]="this.user.password" class="form-control" placeholder="Contraseña" required>
                    @if(!this.password.valid && this.password.touched){
                        <small class="text-danger">La contraseña es obligatoria</small>
                    }
                </div>
                    <input type="submit" class="btn btn-primary mt-4" value="Iniciar Sesión" [disabled]="this.formLogin.invalid">
            </form>
        </div>
    </div>



