<div class="bg-dark p-2">
    <a class="d-flex text-decoration-none aling-items-center">
        <h3 class="fs-4 d-none d-sm-inline mt-3 text-white text-uppercase">Menu de Inicio</h3>
    </a>
    <ul class="nav nav-pills flex-column mt-5">
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/Dashboar-Admin" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4" aria-current="page"><i class="lni lni-home"></i>  Inicio </a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/users" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-user"></i>  Usuarios</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/roles" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-users"></i>  Roles</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/permissions" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-key"></i>  Permisos</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/clients"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-customer"></i>  Clientes</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/providers"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-handshake"></i>  Proveedores</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/categories"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-tag"></i>  Categorias</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/products"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-grid-alt"></i>  Productos</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/sales"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-cart"></i>  Ventas</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/company"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-apartment"></i>  Datos de la Empresa</a>
        </li>
    </ul>
</div>