<div class="bg-dark p-2">
    <a class="d-flex text-decoration-none aling-items-center">
        <h3 class="fs-4 d-none d-sm-inline mt-3 text-white text-uppercase">Menu de Inicio</h3>
    </a>
    <ul class="nav nav-pills flex-column mt-5">
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/Dashboar-Admin" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4" aria-current="page"><i class="lni lni-home"></i>  Inicio </a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/Box" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4" aria-current="page"><svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(-360 0 0)">
                <path d="M11.2499 3.25977H7.87725C7.0644 3.25977 6.31475 3.69818 5.91623 4.40663L3.56133 8.59287H11.2499V3.25977Z" fill="#d7dbe5"/>
                <path d="M3.25 10.0929V18.5089C3.25 19.7516 4.25736 20.7589 5.5 20.7589H18.5C19.7426 20.7589 20.75 19.7516 20.75 18.5089V10.0929H3.25Z" fill="#d7dbe5"/>
                <path d="M20.4387 8.59287L18.0838 4.40663C17.6852 3.69818 16.9356 3.25977 16.1228 3.25977H12.7499V8.59287H20.4387Z" fill="#d7dbe5"/>
                </svg>
                  Caja </a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/users" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-user"></i>  Usuarios</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/roles" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-users"></i>  Roles</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/permissions" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-key"></i>  Permisos</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/clients"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-customer"></i>  Clientes</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/providers"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-handshake"></i>  Proveedores</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/categories"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-tag"></i>  Categorias</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/products"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-grid-alt"></i>  Productos</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/sales"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-cart"></i>  Ventas</a>
        </li>
        <li class="nav-item py-2 py-sm-0">
            <a routerLink="/company"  routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-apartment"></i>  Datos de la Empresa</a>
        </li>
        <hr>
        <li class="nav-item py-2 py-sm-0">
            <a (click)="this.Close();" style="cursor: pointer;" routerLinkActive="active" class="nav-link text-white text-uppercase fs-4"><i class="lni lni-power-switch"></i>  Cerrar sesion</a>
        </li>
    </ul>
</div>